*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(16, 16, 78);
}

.gamename{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    color: aliceblue;
}

.timers{
    font-size: 20px;
    font-weight: 600;
    color: rgb(7, 189, 189);
}

.timersbox{
    background-color: rgba(0, 0, 0, 0.662);
    padding: 8px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px 5px black ;
}

.time{
    text-align: center;
    margin-top: 5px;
    color: white;
}

.turns{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
    color:rgb(7, 189, 189) ;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.box{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.553);
    height: 600px;
    width: 750px;
    margin-bottom: 60px;
    margin-inline: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 5px 10px 5px black ;
}

.points{
    color: aliceblue;
    row-gap: 10px;
}

.subpoints{
    margin:40px 0;
    font-size: xx-large;
}

.pointsnum{
    color: rgb(7, 189, 189);
}

.dots{
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(7, 189, 189);
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.dots:hover{
    background-color:rgba(0, 0, 0, 0.644) ;
    cursor: pointer;
}

.row{
    display: flex;
    margin-top: 40px;
}

.row1{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.row7{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.row2{
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
}

.row6{
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
}
.row3{
    position: absolute;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
}

.row5{
    position: absolute;
    left: 50%;
    bottom: 180px;
    transform: translateX(-50%);
}
.row4{
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
}

.dots1{
    margin-inline: 140px;
}
.dots2{
    margin-inline: 80px;
}
.dots3{
    margin-inline: 30px;
}
.dots41{
    margin-left: 60px;
}
.dots42{
    margin-right: 60px;
}
.dots5{
    margin-inline: 30px;
}
.dots6{
    margin-inline: 80px;
}
.dots7{
    margin-inline: 140px;
}

.row4set1{
    display: flex;
    margin-inline: 100px;
}
.row4set2{
    display: flex;
    margin-inline: 100px;
}
.lines{
    background-color: aliceblue;
}


.line1{
    position: absolute;
    height: 3px;
    width: 252px;
    left: 7px;
    top: 186px;
    transform: rotate(125deg);
}
.line2{
    position: absolute;
    height: 3px;
    width: 280px;
    left: 235px;
    top: 70px;
}
.line3{
    position: absolute;
    height: 3px;
    width: 252px;
    right: 7px;
    top: 186px;
    transform: rotate(55deg);
}

.line4{
    position: absolute;
    height: 3px;
    width: 252px;
    right: 6px;
    bottom: 168px;
    transform: rotate(125deg);
}
.line5{
    position: absolute;
    height: 3px;
    width: 280px;
    right: 235px;
    bottom: 45px;
}
.line6{
    position: absolute;
    height: 3px;
    width: 252px;
    left: 6px;
    bottom: 167px;
    transform: rotate(55deg);
}
.line7{
    position: absolute;
    height: 3px;
    width: 170px;
    left: 128px;
    top: 221px;
    transform: rotate(125deg);
}
.line8{
    position: absolute;
    height: 3px;
    width: 165px;
    left: 293px;
    top: 140px;
}
.line9{
    position: absolute;
    height: 3px;
    width: 170px;
    right: 130px;
    top: 223px;
    transform: rotate(55deg);
}
.line10{
    position: absolute;
    height: 3px;
    width: 170px;
    right: 130px;
    bottom: 203px;
    transform: rotate(125deg);
}
.line11{
    position: absolute;
    height: 3px;
    width: 166px;
    right: 292px;
    bottom: 115px;
}
.line12{
    position: absolute;
    height: 3px;
    width: 170px;
    left: 130px;
    bottom: 203px;
    transform: rotate(55deg);
} 
.line13{
    position: absolute;
    height: 3px;
    width: 78px;
    left: 250px;
    top: 262px;
    transform: rotate(125deg);
}
.line14{
    position: absolute;
    height: 3px;
    width: 66px;
    left: 342px;
    top: 220px;
    
}
.line15{
    position: absolute;
    height: 3px;
    width: 78px;
    right: 250px;
    top: 262px;
    transform: rotate(55deg);
}
.line16{
    position: absolute;
    height: 3px;
    width: 78px;
    right: 250px;
    bottom: 244px;
    transform: rotate(125deg);
}
.line17{
    position: absolute;
    height: 3px;
    width: 66px;
    left: 342px;
    bottom: 195px;
    
}
.line18{
    position: absolute;
    height: 3px;
    width: 78px;
    left: 250px;
    bottom: 244px;
    transform: rotate(55deg);
}
.line19{
    position: absolute;
    height: 3px;
    width: 62px;
    left: 76px;
    top: 310px;
}
.line20{
    position: absolute;
    height: 3px;
    width: 58px;
    right: 215px;
    top: 105px;
    transform: rotate(125deg);
}
.line21{
    position: absolute;
    height: 3px;
    width: 58px;
    right: 215px;
    bottom: 85px;
    transform: rotate(55deg);
}

.line22{
    position: absolute;
    height: 3px;
    width: 58px;
    left: 270px;
    top: 178px;
    transform: rotate(55deg);
}
.line23{
    position: absolute;
    height: 3px;
    width: 65px;
    right: 172px;
    top: 310px;
}
.line24{
    position: absolute;
    height: 3px;
    width: 58px;
    left: 270px;
    bottom: 160px;
    transform: rotate(125deg);
}