*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(16, 16, 78);
}

.gamename{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    color: aliceblue;
}

.timers{
    font-size: 20px;
    font-weight: 600;
    color: rgb(7, 189, 189);
}

.timersbox{
    background-color: rgba(0, 0, 0, 0.662);
    padding: 8px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px 5px black ;
}

.time{
    text-align: center;
    margin-top: 5px;
    color: white;
}

.turns{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
    color:rgb(7, 189, 189) ;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.box{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.553);
    height: 600px;
    width: 750px;
    margin-bottom: 60px;
    margin-inline: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 5px 10px 5px black ;
}

.points{
    color: aliceblue;
    row-gap: 10px;
}

.subpoints{
    margin:40px 0;
    font-size: xx-large;
}

.pointsnum{
    color: rgb(7, 189, 189);
}

.dots{
    background-color: aliceblue;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(32, 156, 55);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    color: black;
}

.dots:hover{
    background-color:rgb(117, 163, 131) ;
    cursor: pointer;
}
.dots:active{
    transform: scale(105%);
}

.row{
    display: flex;
    margin-top: 40px;
}

.row1{
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.row7{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.row2{
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
}

.row6{
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
}
.row3{
    position: absolute;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
}

.row5{
    position: absolute;
    left: 50%;
    bottom: 180px;
    transform: translateX(-50%);
}
.row4{
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
}

.dots1{
    margin-inline: 120px;
}
.dots2{
    margin-inline: 80px;
}
.dots3{
    margin-inline: 30px;
}
.dots41{
    margin-left: 50px;
}
.dots42{
    margin-right: 50px;
}
.dots5{
    margin-inline: 30px;
}
.dots6{
    margin-inline: 80px;
}
.dots7{
    margin-inline: 120px;
}

.row4set1{
    display: flex;
    margin-inline: 90px;
}
.row4set2{
    display: flex;
    margin-inline: 90px;
}

.red{
    background-color: red;
}

.blue{
    background-color: rgb(24, 166, 255);
}